lista-exercicio-03-11-2020/list1-modelagem/list1.aux
lista-exercicio-03-11-2020/list1-modelagem/list1.fdb_latexmk
lista-exercicio-03-11-2020/list1-modelagem/list1.fls
lista-exercicio-03-11-2020/list1-modelagem/list1.log
lista-exercicio-03-11-2020/list1-modelagem/list1.synctex.gz
lista-exercicio-03-11-2020/list1-modelagem/list1.tex

lista-exercicio-03-11-2020/list2-modelagem/list2.aux
lista-exercicio-03-11-2020/list2-modelagem/list2.fdb_latexmk
lista-exercicio-03-11-2020/list2-modelagem/list2.fls
lista-exercicio-03-11-2020/list2-modelagem/list2.log
lista-exercicio-03-11-2020/list2-modelagem/list2.synctex.gz
lista-exercicio-03-11-2020/list2-modelagem/list2.tex

lista-exercicio-03-11-2020/list3-modelagem/list3.aux
lista-exercicio-03-11-2020/list3-modelagem/list3.fdb_latexmk
lista-exercicio-03-11-2020/list3-modelagem/list3.fls
lista-exercicio-03-11-2020/list3-modelagem/list3.log
lista-exercicio-03-11-2020/list3-modelagem/list3.synctex.gz
lista-exercicio-03-11-2020/list3-modelagem/list3.tex
lista-exercicio-03-11-2020/list3-modelagem/resp3-3.jpeg
lista-exercicio-03-11-2020/list3-modelagem/list3-3.png

lista-exercicio-03-11-2020/list4-met-grafico/list4.aux
lista-exercicio-03-11-2020/list4-met-grafico/list4.fdb_latexmk
lista-exercicio-03-11-2020/list4-met-grafico/list4.fls
lista-exercicio-03-11-2020/list4-met-grafico/list4.log
lista-exercicio-03-11-2020/list4-met-grafico/list4.synctex.gz
lista-exercicio-03-11-2020/list4-met-grafico/list4.tex
lista-exercicio-03-11-2020/list4-met-grafico/resp4-3.ggb
lista-exercicio-03-11-2020/list4-met-grafico/lista4-5.png
lista-exercicio-03-11-2020/list4-met-grafico/resp4-a.png
lista-exercicio-03-11-2020/list4-met-grafico/resp4-b.png
lista-exercicio-03-11-2020/list4-met-grafico/resp4-c.png
lista-exercicio-03-11-2020/list4-met-grafico/resp4-e.png
lista-exercicio-03-11-2020/list4-met-grafico/resp4-c.ggb
lista-exercicio-03-11-2020/list4-met-grafico/resp4-d.png

lista-exercicio-03-11-2020/tikz-uml.sty